* { margin: 0; padding: 0; }
html, body { height: 100%; width: 100%; }
canvas { display: block; }
div#tracker,
div#tracker2 {
	min-width: 400px;
	min-height: 12px;
	max-width: 400px;
	max-height: 12px;
	background-color: #113f4f;
	border: 1px solid #333;
	padding: 1px;
}

div#loader,
div#loader2 {
	width: 0px;
	min-width: 0px;
	min-height: 12px;
	max-width: 400px;
	max-height: 12px;
	background-color: #8bcfe5;
}
.canvas-container{ float: left; }